<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Au音乐网</title>
  <link rel="icon" href="favicons/1.png">
  <link rel="stylesheet" href="/static/index/css/style2.css">
  <link rel="stylesheet" href="/static/index/css/reset.css">
  <link rel="stylesheet" href="/static/index/css/index.css">
  <link rel="stylesheet" type="text/css" href="/static/index/css/style3.css" />

  <link rel="stylesheet" href="/static/mplayer/css/mplayer.css">

</head>
<body>

	<!--头部开始-->
  {include file="header"}

	<!--头部结束-->

<script type="text/javascript" src="/static/index/js2/jquery2.js"></script>
<script type="text/javascript" src="/static/index/js2/index2.js"></script>
 <!--轮播图 开始 -->
    <div class="main_banner" style="margin-top:5px;margin-bottom:30px;background-color: #eee">
        <div class="main_banner_bg"></div>
        <div class="main_banner_wrap">
      <canvas id="myCanvas" width="150" height="150" style="display:none"></canvas>
            <div class="main_banner_box" id="m_box">
                <a href="javascript:void(0)" class="banner_btn js_pre">
                    <span class="banner_btn_arrow"><i></i></span>
                </a>
                <a href="javascript:void(0)" class="banner_btn btn_next js_next">
                    <span class="banner_btn_arrow"><i></i></span>
                </a>
                <!--五个图片-->
                <ul>
                    <li id="imgCard0">
                        <a href="{$lun[0]['url']}"><span style="opacity:0;"></span></a>
                        <img src="{$lun[0]['pic']}" alt="">
                        <p style="bottom:0">{$lun[0]['intro']}</p>
                    </li>
                    <li id="imgCard1">
                        <a href="{$lun[1]['url']}"><span style="opacity:0.4;"></span></a>
                        <img src="{$lun[1]['pic']}" alt="">
                        <p>{$lun[1]['intro']}</p>
                    </li>
                    <li id="imgCard2">
                        <a href="{$lun[2]['url']}"><span style="opacity:0.4;" ></span></a>
                        <img src="{$lun[2]['pic']}" alt="">
                        <p>{$lun[2]['intro']}</p>
                    </li>
                    <li id="imgCard3">
                        <a href="{$lun[3]['url']}"><span style="opacity:0.4;"></span></a>
                        <img src="{$lun[3]['pic']}" alt="">
                        <p>{$lun[3]['intro']}</p>
                    </li>
                    <li id="imgCard4">
                        <a href="{$lun[4]['url']}"><span style="opacity:0.4;"></span></a>
                        <img src="{$lun[4]['pic']}" alt="">
                        <p>{$lun[4]['intro']}</p>
                    </li>
                </ul>
                <!--火狐倒影图层-->
                <p id="rflt"></p>
                <!--火狐倒影图层-->
            </div>
            <!--序列号按钮-->
            <div class="btn_list">
                <span class="curr"></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
    </div>
    <!--轮播图 结束 -->
  <!--轮播图结束-->

  <!-- 排行榜 -->
  <div class="main" id="rank">
    <div class="main-inner">
      <div class="main-title">
        <!-- <h2 class="title"><i style="font-size:50px">排行榜</i></h2> -->
        <h2 class="title" style="font-size:50px" >排行榜</h2>
        <span class="line line-left"></span>
        <span class="line line-right"></span>
      </div>
      <a href="#" class="readAll" style="color:black"><i ></i></a>
      <ul class="rank-list">

        <li class="rank-list__item rank-list__1">
          <span class="rank-bg" style="background:url({$song1pic['cover']});"></span>
          <span class="mask"></span>
          <a href="/index/index/songlist2?id=1"><i class="icon-play"></i></a>

          <div class="title">
            <i></i>
            <h3 style="color:#e85252">流行歌曲</h3>
          </div>
          <i class="line"></i>
          <ul class="song-list">
            {volist name="song1" id="val"}
            <li class="song-list__item">
              <a href="/index/index/songplay?sid={$val.sid}" style="font-size:20px;"><span></span>{$val.sname}</a>
              <span>{$val.singer}</span>
              {/volist}
            </li>
          </ul>
        </li>

        <li class="rank-list__item rank-list__1">
          <span class="rank-bg" style="background:url({$song2pic['cover']});"></span>
          <span class="mask"></span>
          <a href="/index/index/songlist2?id=2"><i class="icon-play"></i></a>

          <div class="title">
            <i></i>
            <h3 style="color:#e85252">治愈歌曲</h3>
          </div>
          <i class="line"></i>
          <ul class="song-list">
            {volist name="song2" id="val"}
            <li class="song-list__item" >
              <a href="/index/index/songplay?sid={$val.sid}" style="font-size:20px;"><span></span>{$val.sname}</a>
              <span>{$val.singer}</span>
            </li>
            {/volist}
          </ul>
        </li>

        <li class="rank-list__item rank-list__1">
          <span class="rank-bg" style="background:url({$song3pic['cover']});"></span>
          <span class="mask"></span>
          <a href="/index/index/songlist2?id=3"><i class="icon-play"></i></a>

          <div class="title">
            <i></i>
            <h3 style="color:#e85252">粤语歌曲</h3>
          </div>
          <i class="line"></i>
          <ul class="song-list">
            {volist name="song3" id="val"}
            <li class="song-list__item">
              <a href="/index/index/songplay?sid={$val.sid}" style="font-size:20px;"><span></span>{$val.sname}</a>
              <span>{$val.singer}</span>
            </li>
            {/volist}
          </ul>
        </li>

        <li class="rank-list__item rank-list__1">
          <span class="rank-bg" style="background:url({$song4pic['cover']});"></span>
          <span class="mask"></span>
          <a href="/index/index/songlist2?id=4"><i class="icon-play"></i></a>

          <div class="title">
            <i></i>
            <h3 style="color:#e85252">电音歌曲</h3>
          </div>
          <i class="line"></i>
          <ul class="song-list">
          {volist name="song4" id="val"}
            <li class="song-list__item">
              <a href="/index/index/songplay?sid={$val.sid}" style="font-size:20px;"><span></span>{$val.sname}</a>
              <span>{$val.singer}</span>
            </li>
            {/volist}
          </ul>
        </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- 热门歌单 -->
  <div class="main" id="hotSong">
    <div class="main-inner">
      <div class="main-title">
        <h2 class="title"><i></i></h2>
        <span class="line line-left"></span>
        <span class="line line-right"></span>
      </div>
      <div class="main-slider">
        <ul class="slider-wrapper">
        {volist name="hotsheet" id="val"}
          <li>
            <a href="/index/index/playlist?pid={$val.pid}" class="img">
              <!-- <img src="images/cont/slider_img1.jpg" alt="#"> -->
              <img src="{$val.pic}" style="min-height:300px">
              <span class="mask"></span>
              <i class="icon-play"></i>
            </a>
            <div class="info">
              <div class="title">
                <!-- <a href="#">那个静默的阳光午后</a> -->
                <a href="/index/index/playlist?pid={$val.pid}">{$val.pname}</a>
                <i class="icon-sprite"></i>
              </div>
              <a href="/index/index/playlist?pid={$val.pid}" class="author">点击量：{$val.view_num}</a>
            </div>
          </li>
          {/volist}


        </ul>
        <!-- <div class="slider-btns"> -->
          <!-- <span class="cur"><i></i></span> -->
          <!-- <span><i></i></span> -->
          <!-- <span><i></i></span> -->
        <!-- </div> -->
      </div>
    </div>
    <div class="main-operate">
      <!-- <a href="javascript:;" class="slider-prev"><i class="icon-sprite"></i></a> -->
      <!-- <a href="javascript:;" class="slider-next"><i class="icon-sprite"></i></a> -->
    </div>
  </div>

  <!--音乐歌词 start-->

  <div class="mp" style="z-index:20">
  <div class="mp-box">
    <img src="" alt="music cover" class="mp-cover">
    <div class="mp-info">
      <p class="mp-name">燕归巢</p>
      <p class="mp-singer">许嵩</p>
      <p><span class="mp-time-current">00:00</span>/<span class="mp-time-all">00:00</span></p>
    </div>
    <div class="mp-btn">
      <button class="mp-prev" title="上一首"></button>
      <button class="mp-pause" title="播放"></button>
      <button class="mp-next" title="下一首"></button>
      <button class="mp-mode" title="播放模式"></button>
      <div class="mp-vol">
        <button class="mp-vol-img" title="静音"></button>
        <div class="mp-vol-range" data-range_min="0" data-range_max="100" data-cur_min="80">
          <div class="mp-vol-current"></div>
          <div class="mp-vol-circle"></div>
        </div>
      </div>
    </div>
    <div class="mp-pro">
      <div class="mp-pro-current"></div>
    </div>
    <div class="mp-menu">
      <button class="mp-list-toggle"></button>
      <button class="mp-lrc-toggle"></button>
    </div>
  </div>
  <button class="mp-toggle">
    <span class="mp-toggle-img"></span>
  </button>
  <div class="mp-lrc-box">
    <ul class="mp-lrc"></ul>
  </div>
  <button class="mp-lrc-close"></button>
  <div class="mp-list-box">
    <ul class="mp-list-title"></ul>
    <table class="mp-list-table">
      <thead>
        <tr>
          <th>歌名</th>
          <th>歌手</th>
          <th>时长</th>
        </tr>
      </thead>
      <tbody class="mp-list"></tbody>
    </table>
  </div>
</div>


<!--music js start-->
<script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
<script src="/static/mplayer/js/mplayer.js"></script>
<script src="/static/mplayer/js/mplayer-list.js"></script>
<script src="/static/mplayer/js/mplayer-functions.js"></script>
<script src="http://cdn.bootcss.com/jquery-nstslider/1.0.13/jquery.nstSlider.min.js"></script>
<!--music js end-->

<script>
var modeText = ['顺序播放','单曲循环','随机播放','列表循环'];
{if !empty($song)}
{foreach $song as $value}
    var tmp = {
      "name":"{$value['musicname']}",
      "singer":"{$value['songer']}",
      "img":"{$value['img']}",
      "src":"{$value['url']}",
      "lrc":"{$value['songword']}",
    };
    mplayer_song[0].push(tmp);
{/foreach}


{/if}
var player = new MPlayer({
  // 容器选择器名称
  containerSelector: '.mp',
  // 播放列表
  songList: mplayer_song,
  // 专辑图片错误时显示的图片
  defaultImg: '/static/index/fengmian/wake.jpg',
  // 自动播放
  autoPlay: true,
  // 播放模式(0->顺序播放,1->单曲循环,2->随机播放,3->列表循环(默认))
  playMode:0,
  playList:0,
  playSong:0,
  // 当前歌词距离顶部的距离
  lrcTopPos: 34,
  // 列表模板，用${变量名}$插入模板变量
  listFormat: '<tr><td>${name}$</td><td>${singer}$</td><td>${time}$</td></tr>',
  // 音量滑块改变事件名称
  volSlideEventName:'change',
  // 初始音量
  defaultVolume:80
}, function () {
  // 绑定事件
  this.on('afterInit', function () {
    console.log('播放器初始化完成，正在准备播放');
  }).on('beforePlay', function () {
    var $this = this;
    var song = $this.getCurrentSong(true);
    var songName = song.name + ' - ' + song.singer;
    console.log('即将播放'+songName+'，return false;可以取消播放');
  }).on('timeUpdate', function () {
    var $this = this;
    console.log('当前歌词：' + $this.getLrc());
  }).on('end', function () {
    var $this = this;
    var song = $this.getCurrentSong(true);
    var songName = song.name + ' - ' + song.singer;
    console.log(songName+'播放完毕，return false;可以取消播放下一曲');
  }).on('mute', function () {
    var status = this.getIsMuted() ? '已静音' : '未静音';
    console.log('当前静音状态：' + status);
  }).on('changeMode', function () {
    var $this = this;
    var mode = modeText[$this.getPlayMode()];
    $this.dom.container.find('.mp-mode').attr('title',mode);
    console.log('播放模式已切换为：' + mode);
  });
});
setEffects(player);
</script>
  <!--音乐歌词end-->

  <!-- MV -->
  <div class="main" id="mv">
    <div class="main-inner">
      <div class="main-title">
        <h2 class="title"><i></i></h2>
        <span class="line line-left"></span>
        <span class="line line-right"></span>
      </div>
      <!-- <a href="#" class="readAll" style="color:black;"> -->
      <!-- 全部<i class="icon-sprite"></i></a> -->

      <ul class="mv-list tab-cont">
        {volist name="hotmv" id="val"}
        <li class="item">
          <a href="/index/index/mvplay?vid={$val.vid}" class="img"><img src="{$val.pic}" alt="#"><i class="icon-play"></i></a>
          <div class="info">
            <a href="/index/index/mvplay?vid={$val.vid}" class="title">{$val.vname}</a>
            <a href="/index/index/mvplay?vid={$val.vid}" class="author">{$val.vsinger}</a>
            <span class="play-total"><i class="icon-sprite"></i>{$val.view_num}</span>
          </div>
        </li>
        {/volist}
      </ul>
    </div>
  </div>





<!--尾部-->
	<div class="footer">
	<p class="p1">
	<span><a href="#" target="mobile"><img src="/static/index/image/footer1.png">邵凯旋 and 景松旺</a> </span>
	<span><img src="/static/index/image/footer2.png">联系电话：184-3515-4504</span>
	<span><img src="/static/index/image/footer3.png">联系QQ：895770532</span>
	</p>
	<p class="p2">友情链接 </p>
	<p class="p3">Au音乐网  &#169;&emsp;晋ICP备18000657号-1
	</p>
	</div>
<!--尾部结束-->

  <link href="/static/index/css/asynctips.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/static/index/js/asyncbox.js"></script>
  <script type="text/javascript" src="/static/index/js/bottom.js"></script>
</body>
</html>