<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>歌单列表</title>
<link rel="stylesheet" href="/static/index/css/style.css">
<script type="text/javascript" src="/static/index/js/jquery.js"></script>
<script type="text/javascript" src="/static/index/js/common.js"></script>
<script type="text/javascript">
	var web_url="/";web_skin="/skin/qt_fb/";$(function() {$("img").lazyload({placeholder : "/skin/qt_fb/images/loading.gif",effect: "fadeIn"});$("#nav_malbum").addClass("current");});
</script>
</head>
<body>
	<!--头部开始-->
	{include file="header"}
	<!--头部结束-->

<div class="bg_box">
	<div class="main">
	<div class="record_list">

	<div class="record_lable">
		<dl>
			<dt>类别</dt>
				<dd><a href="/index/index/songsheet">全部</a></dd>
				{volist name="type" id="val"}
				<dd><a href="/index/index/songsheet?id={$val.id}">{$val.playname}</a></dd>
				{/volist}
		</dl>
	</div>

	<div class="box3 mt20">
	<div class="malbum_index">
		{volist name="sel" id="val"}
		<dl class="new_music">
		<a target="" href="/index/index/playlist?pid={$val.pid}">
			<dt> <img src="{$val.pic}" width="159" height="159" title="{$val.pname}"> <span class="malbum"></span> </dt>
		</a>
		<dd class="new_music_title">{$val.pname}</dd>

		<!-- <dd class="new_music_name">免费试听</dd> -->
		</dl>
		{/volist}
	</div>
	</div>
	</div>
	</div>
</div>

<!--占位的-->
<div class="bg_box" style="height:300px;">
</div>
<!--占位结束-->


	<!--尾部开始-->
	{include file="footer"}
	<!--尾部结束-->

<link href="/static/index/css/asynctips.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/index/js/asyncbox.js"></script>
<script type="text/javascript" src="/static/index/js/bottom.js"></script>



</body>
</html>


