<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- <meta charset="gb2312"> -->
<meta name="renderer" content="webkit">
<title>Au音乐网-用户资料</title>

<link rel="stylesheet" href="/static/index/css/style.css">
<script type="text/javascript" src="/static/index/js/jquery.js"></script>
<script type="text/javascript" src="/static/index/js/common.js"></script>
<script type="text/javascript">var web_url="/";web_skin="/skin/qt_fb/";$(function() {$("#nav_news").addClass("current");});</script>
</head>
<body>

    <!--头部开始-->

    {include file="header"}
    <!--头部结束-->

<div class="bg_box">
<div class="main">

    <div style="width:1000px;padding:20px;background-color: white;margin-top: 30px;font-weight: normal; min-height: 515px;color:#333;font-size: 17px;">
    <h2 style="margin-bottom:28px">完善资料</h2>
    <form action="/index/index/doupuser" method="post" enctype="multipart/form-data">
    邮&emsp;箱&emsp;： <input type="text" name="email" style="height:30px;border:1px solid #aaa"> <br/><br/>
    手机号&emsp;： <input type="text" name="phone" style="height:30px;border:1px solid #aaa"><br/><br/>
    个性签名：<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;
    <textarea  name="signature" style="border:1px solid #aaa;width:300px;height:50px;" placeholder=""></textarea><br>
    <input type="submit" name="" value="提交" style="border:1px solid #aaa;width:70px;height:35px;background-color:#E85252;color:white">
    </form>
    </div>

</div>
</div>
<link href="/static/index/css/asynctips.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/index/js/asyncbox.js"></script>
<script type="text/javascript" src="/static/index/js/bottom.js"></script>





<!--尾部-->
    {include file="footer"}
<!--尾部结束-->





</body>
</html>



