<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            X-admin v1.0
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="../../static/admin/css/x-admin.css" media="all">
    </head>
    
    <body>
        <div class="x-body">
        {volist name='nodeinfo' id='value'}
            <form action="" method="post" class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>权限名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" required="" lay-verify="required" value="{$value['name']}" 
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="role" class="layui-form-label">
                        <span class="x-red">*</span>所属分类
                    </label>
                    <div class="layui-input-inline">
                      <select name="classify">
                        {volist name='info' id='val'}
                        {if condition="$val['nid']==$value['pid']"}
                        <option value="{$val['nid']}" selected="">{$val['name']}</option>
                        {else}
                        <option value="{$val['nid']}">{$val['name']}</option>
                        {/if}
                        {/volist}
                      </select>
                    </div>
                </div>
                <input type="hidden" name="nid" value="{$value['nid']}">
                <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>
              </div>
            </form>
        {/volist}
        </div>
        <script src="../../static/admin/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="../../static/admin/js/x-layui.js" charset="utf-8">
        </script>
        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;

              //监听提交
              form.on('submit(save)', function(data){
                    var name = $('[name=name]').val();
                    var nid = $('[name=nid]').val();
                    var classify = $('[name=classify]').val();

                    $.ajax({
                        type:'post',
                        url:'/admin/permission/doeditpermiss',
                        data:{name:name,classify:classify,nid:nid},
                        dataType:'json', 
                        success:success
                    });
                    return false;
                    
                });
                function success(data)
                {
                    var obj = JSON.parse(data);

                    if(obj['state'] == 1)
                    {
                        layer.alert('修改权限成功', {icon: 6},function () {
                            // 刷新父页面
                            window.location.href = '/admin/permission/permisslist';
                        });
                    
                    }else 
                    {
                        layer.alert('修改权限失败', {icon: 2});
                    }
                }
              });
              
         
        </script>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>

</html>