<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            X-admin v1.0
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="../../static/admin/css/x-admin.css" media="all">
        <link href="../../static/admin/css/bootstrap.min.css" rel="stylesheet">
        <script src='../../static/admin/js/jquery-1.11.3.min.js'></script>
    </head>
    <body style="background: rgba(255,255,255,0.4)">
<!--         <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>意见列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div> -->
        <div class="x-body" style="background: rgba(255,255,255,0.2)">
            <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button>
            <button class="layui-btn" onclick="add('添加用户','addplaylist','600','500')"><i class="layui-icon">&#xe608;</i>添加</button><span class="x-right" style="line-height:40px">共有数据：{$num}条</span></xblock>
            <table class="layui-table" style="background: rgba(255,255,255,0.2)">
                <thead>
                    <tr>
                        <th>
                            <!-- <input type="checkbox" name="" value=""> -->
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            歌单名字
                        </th>
                        <th>
                            封面
                        </th>
                        <th>
                            歌单类型
                        </th>
                        <th>
                            点击量
                        </th>
                        <th>
                            描述
                        </th>
                        <th>
                            创建时间
                        </th>
                        <th>
                            歌曲
                        </th>
                        <th>
                            添加歌曲
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="x-link">
                {volist name='playlist' id='value'}
                    <tr>
                        <td>
                            <input type="checkbox" value="{$value['pid']}" name="">
                        </td>
                        <td>
                            {$value['pid']}
                        </td>
                        <td>
                            {$value['pname']}
                        </td>
                        <td >
                            <img src="{$value['pic']}" width="50" alt="">
                        </td>
                        <td>
                            {$value['playname']}
                        </td>
                        <td>
                            {$value['view_num']}
                        </td>
                        <td >
                            {$value['remark']}
                        </td>
                        <td >
                            {$value['create_time']|date='Y-m-d H:i:s' , ###}
                        </td>
                        <td >
                            <a href='/admin/play/songplaylist?pid={$value['pid']}' class="layui-btn layui-btn-normal layui-btn-mini">
                                查看歌曲
                            </a>
                        </td>
                        <td>
                            <span onclick="add('添加歌曲','/admin/play/addsong?pid={$value['pid']}','600','500')">添加歌曲</span>
                        </td>
                        <td class="td-manage">
                            <a title="编辑" href="/admin/play/editplaylist?pid={$value['pid']}"
                            class="ml-5" style="text-decoration:none">
                                <i class="layui-icon">&#xe642;</i>
                            </a>
                            <a title="删除" href="javascript:;" onclick="feedback_del(this,{$value['pid']})" 
                            style="text-decoration:none">
                                <i class="layui-icon">&#xe640;</i>
                            </a>
                        </td>
                    </tr>
                {/volist}
                </tbody>
            </table>
           <div class="page" style="text-align: center">
                <a href="{$allPage['first']}"  style="color:#F0F0F0;padding: 5px;">首页</a>
                <a href="{$allPage['prev']}" style="color:#F0F0F0;padding: 5px;">上一页</a>
                <a href="{$allPage['next']}" style="color:#F0F0F0;padding: 5px;">下一页</a>
                <a href="{$allPage['end']}" style="color:#F0F0F0;padding: 5px;">尾页</a>
            </div> 
        </div>
        <script src="../../static/admin/lib/layui/layui.js" charset="utf-8"></script>
        <script src="../../static/admin/js/x-layui.js" charset="utf-8"></script>
        <script>
            layui.use(['element','laypage','layer','form'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              laypage = layui.laypage;//分页
              layer = layui.layer;//弹出层
              form = layui.form();//弹出层
          })
              
              //以上模块根据需要引入
            //批量删除提交
             function delAll () {
                layer.confirm('确认要删除吗？',function(index){
                    var id = []; 
                    for(var i=0;i<$('input').size();i++){
                        if($('input').eq(i).is(':checked')){
                          id.push($('input').eq(i).val());
                        }
                        
                    }
                    $.ajax({
                        type:'get',
                        url:'/admin/play/delall',
                        dataType:'json',
                        data:{all:id},
                        success:success1
                    });
                function success1(data){
                    var obj = JSON.parse(data);
                    if (obj['state']==1){
                        // var oDel = obj.parentNode.parentNode;
                        // oDel.remove();
                        layer.alert("批量删除歌单成功", {icon: 6},function(){
                            window.location.href = '/admin/play/playlist';
                        });
                    }else{
                        layer.alert("批量删除歌单失败", {icon: 2});
                    }
                }
                return false;
                    
                });
             }
            
            function add(title,url,w,h)
            {
                x_admin_show(title,url,w,h);
            }
            // 编辑
            function feedback_edit (title,url,id,w,h) {
                x_admin_show(title,url,w,h); 
            }
            
            /*删除*/
            function feedback_del(obj1,id){
                layer.confirm('确认要删除吗？',function(index){
                    $.ajax({
                        type:'get',
                        url:'/admin/play/delplaylist',
                        dataType:'json',
                        data:{pid:id},
                        success:success
                    });
                    function success(data)
                    {   
                        var obj = JSON.parse(data);
                        if (obj['state']==1){
                            var oDel = obj1.parentNode.parentNode;
                        oDel.remove();
                            layer.alert("删除歌单成功", {icon: 6});
                        }else{
                            layer.alert("删除歌单失败", {icon: 2});
                        }
                    }
                });
            }
            </script>
            <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>

           <script>
        $(".page a").on("click", function() {
            var page = $(this).attr("href");
            getPage(page);
            return false;
        });
        function getPage(url){
            $.get(url, function(result){
                $("body").html(result);
            });
        }                     
        </script>
    </body>
</html>